<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRent</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/CarRent.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/src/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-left-side">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/media/logo.png" id="logo1"></a>
        </div>
        <div class="header-right-side">
            <button class="header-buttons"><a class="a-button" href="">Contact</a></button>
            <span id="span1" style="margin-left: 5px; margin-right: 5px; color: rgb(116, 116, 116)">|</span>
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgAuth"><path d="M833 450H719A271 271 0 0 0 512 0a273 273 0 0 0-207 450H195L47 598v426h930V598L833 450zM368 170h288a177 177 0 1 1-288 0zm192 375h233l89 92v292H142V637l92-92h230z"></path></svg>
            <button class="header-buttons"><a href="signin.html" class="a-button">Autentifica-te</a></button>
            <span id="span1" style="margin-left: 5px; color: rgb(116, 116, 116)">|</span>
            <button class="header-buttons"><a href="signup.html" class="a-button">Inregistreaza-te</a></button>
        </div>
    </header>
    <div class="page-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-left">
            <h4>I&G Rentals</h4>
            <a href="">Informatii Ordin 225/2023</a>
            <a href="">Blog</a>
            <a href="">Ajutor</a>
            <a href="">Politica de cookies</a>
            <a href="">Politica de confidentialitate</a>
            <a href="">Regulament persoane fizice</a>
            <a href="">Regulament profesionisti</a>
        </div>
        <div class="footer-center">
            <h4>I&G Rentals</h4>
            <a href="">Autoturisme</a>
            <a href="">Agro</a>
            <a href="">Autotutilitare</a>
            <a href="">Camioane</a>
            <a href="">Constructii</a>
            <a href="">Motociclete</a>
            <a href="">Piese</a>
            <a href="">Remorci</a>
        </div>

        <div class="footer-right">
            <h4>Informatii utile</h4>
            <a href="packs.html">Pachete</a>
            <a href="">Lista de preturi persone fizice</a>
            <a href="">Lista de preturi profesionisti</a>
            <a href="">Harta judetelor</a>
            <a href="">Contract vanzare cumparare</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
