@{
    ViewData["Title"] = "Panoul de Administrare";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<p>Bine ați venit în panoul de administrare!</p>

<div>
    <a asp-action="AddCar" class="btn btn-primary">Adaugă Mașină Nouă</a>
</div>