@{
    ViewData["Title"] = "Panou de Administrare";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Panou de Administrare</h1>

<ul>
    <li><a asp-action="ManageUsers">Gestionează Utilizatori</a></li>
    <li><a asp-action="AddCar">Adaugă Mașină</a></li>
    <li><a asp-action="ManageCars">Gestionează Mașini</a></li>
    <li><a asp-action="ManageListings">Gestionează Anunțuri</a></li>
</ul>