@{
    ViewData["Title"] = "Panou de Administrare";
}

<h1>@ViewData["Title"]</h1>

<p>Bine ați venit în panoul de administrare al aplicației CarRent.</p>

<ul>
    <li><a href="/adminpanel/cars/add">Adaugă o Mașină Nouă</a></li>
</ul>