@{
    ViewData["Title"] = "Panou de Administrare";
}

<h1>@ViewData["Title"]</h1>

<p>Bine ați venit în panoul de administrare al aplicației CarRent.</p>

<p>
    <a asp-action="AddCar" class="btn btn-primary">Adaugă o Mașină Nouă</a>
</p>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}